.container{
	width:100%;
	position:absolute;
	display:flex;
	top:50px;
	left:0px;
	justify-content: space-evenly;
}

.main{
	display:flex;
	flex-direction:column;
	width:100%;
	max-width:1200px;
	position:relative;
	padding:25px;
	text-align:center;
	margin:auto;
}

.main:last-child{
	padding-bottom:150px;
}

.table{
	width:100%;
	border:1.5px solid green;
	display:flex;
	flex-direction:column;
	margin-top:5%;
}

.header{
	background-color:green;
	color:white;
	min-height:35px;
	font-size:25px;
	font-weight:bold;
	text-align:center;
	padding-top:5px;
	width:100%;
}

.content{
	background-color:white;
	height:100%;
	display:flex;
	flex-direction:column;
	padding-bottom:10px;
}

.content > p{
	margin:20px;
	line-height:1.5;
}

.content > input[type=submit], .content > input[type=button], .content>a{
	background-color:green;
	border-style:none;
	width:100%;
	max-width:300px;
	font-size:18px;
	margin:auto;
	padding:10px;
	color:white;
	margin-top:10px;
	margin-bottom:10px;
}

.content > input[type=submit]:hover, .content > input[type=button]:hover, .content>a:hover{
	cursor:pointer;
}

.row{
	display:flex;
	flex-direction:row;
	width:100%;
	padding:10px;
	border-bottom:1.5px solid lightgrey;
}

.other > a{
	font-size:80%;
}

.head{
	font-weight:bold;
	padding-top:40px;
}

.other{
	width:15%;
}

.note{
	width:40%;
}

.left{
	width:30%;
	font-weight:bold;
	text-align:left;
	padding-left:20px;
}

.right{
	width:70%;
	text-align:left;
	padding-left:20px;
}

.right > input[type=text], .right > input[type=url]{

	padding:2px;
}

.right > input[type=radio]{
	margin-right:20px;
}

.width20{
	width:20%;
}

.full{
	width:100%;
	font-size:18px;
	padding:2px;
}

.panel {
  display: none;
  overflow: hidden;
}

.accordion{
	transition: 1s;
	cursor: pointer;
}
